<div class='container-fluid'>
    <div class="card">
        <div class="heading text-center">
            <div class="head1">RENT A CAR</div>
            <p class="bdr"></p>
        </div>
        <div class="card-body">
            <div class="row m-0 pt-5">
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faCar"></fa-icon>
                        </div>

                        <div class="card-title"> Kaliteli Araçların Adı</div>
                        <p><small>Rahatınız ve güvenliğiniz için tüm araçlarımıza zamanında servis ve bakım yaptırıyoruz.</small></p>
                        <div class="learn-more">
                            Devamını Oku
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
                        </div>

                        <div class="card-title"> Uygun Fiyat</div>
                        <p><small>Yüzlerce marka model araçlarımızın en iyi fiyat garantisi ve hizmeti sunuyoruz.</small></p>
                        <div class="learn-more">
                            <p> <small> Devamını Oku
                                </small> </p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faShieldAlt"></fa-icon>
                        </div>

                        <div class="card-title"> 7 / 24 Canlı Destek
                        </div>
                        <p><small>
                            Kiraladığınız araçlarımız ile birlikte size 7 / 24 destek veriyoruz.</small></p>
                        <div class="learn-more">
                            Devamını Oku 
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faBolt"></fa-icon>
                        </div>

                        <div class="card-title">  Covid 19 Riskine Karşı Önlem </div>
                        <p><small>Tüm arabalarımız kiralamadan önce, covid 19 riskine karşı detaylı temizlenir ve dezenfekte edilir.</small></p>
                        <div class="learn-more">
                            <p> <small> Devamını Oku  <label><i class="fas
                                            fa-angle-right"></i></label>
                                </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
